@model List<OnlineShop.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GameTittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GameDetail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameTittle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameDetail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameID })
        </td>
    </tr>
}

</table>
